<li class="nav-item" ngbDropdown>
  <a
    class="nav-link dropdown-toggle"
    id="navbarDropdown"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <fa-icon [icon]="FAS.faBell"></fa-icon>
    {{ "component.header.notification.title" | translate }}
  </a>
  <div aria-labelledby="navbarDropdown" ngbDropdownMenu>
    <a
      ngbDropdownItem
      [routerLink]="TOKEN_PATH_FULL.INFO"
      routerLinkActive="active"
      *ngIf="hasAccess(AUTHORITIES.NOTIFICATION_ACCESS)"
    >
      <span class="w-25 d-inline-block text-right"
        ><fa-icon [icon]="FAS.faKey"></fa-icon
      ></span>
      {{ "component.header.notification.notificationToken" | translate }}</a
    >

    <a
      ngbDropdownItem
      [routerLink]="TOPIC_MANAGEMENT_PATH_FULL.INFO"
      routerLinkActive="active"
      *ngIf="hasAccess(AUTHORITIES.TOPICMANAGER_ACCESS)"
    >
      <span class="w-25 d-inline-block text-right"
        ><fa-icon [icon]="FAS.faBroadcastTower"></fa-icon
      ></span>
      {{ "component.header.notification.topicManagement" | translate }}</a
    >
  </div>
</li>
