<span>
  <a
    [routerLink]="[SENSOR_TYPE_PATH_FULL.INFO, sensorType.id]"
    [ngbTooltip]="'page.sensorTypeList.info' | translate"
  >
    <fa-icon [icon]="FAS.faInfoCircle" class="text-primary"></fa-icon>
  </a>
</span>
&nbsp;

<ng-container *ngIf="hasWritePermission">
  <span>
    <a
      [routerLink]="[SENSOR_TYPE_PATH_FULL.EDIT, sensorType.id]"
      [ngbTooltip]="'page.sensorTypeList.edit' | translate"
    >
      <fa-icon [icon]="FAS.faEdit" class="text-warning"></fa-icon>
    </a>
  </span>
  &nbsp;
  <app-base-modal
    [config]="MODAL_DELETE_CONFIG"
    [title]="'component.modal.sensorType.delete.title' | translate"
    [message]="
      'component.modal.sensorType.delete.message'
        | translate: { sensorType: sensorType.type }
    "
    (confirmEvent)="delete()"
    #modalDelete
  ></app-base-modal>
  <span>
    <a
      [routerLink]=""
      (click)="modalDelete.open()"
      [ngbTooltip]="'page.sensorTypeList.delete' | translate"
    >
      <fa-icon [icon]="FAS.faTrash" class="text-danger"></fa-icon>
    </a>
  </span>
</ng-container>
