
<h2 *ngIf="false">{{"page.deviceForm.title" | translate }}</h2>
<form
  class=""
  [formGroup]="formGroup"
  *ngIf="deviceCommand"
>

<div>
  <label for="name"
    >{{ "page.deviceForm.name" | translate }}</label
  >
  <div class="form-group">
    <input
      formControlName="name"
      [(ngModel)]="deviceCommand.name"
      type="text"
      class="form-control "
      [placeholder]="'page.deviceForm.placeholder.name' | translate"
      maxlength="45"
    />

    <app-validation-error
      [control]="f.name"
      [controlName]="'name'"
      [translationKey]="'deviceForm'"
    ></app-validation-error>
  </div>
</div>


<div>
  <label for="description"
    >{{ "page.deviceForm.description" | translate }}</label
  >
  <div class="form-group">
    <input
      formControlName="description"
      [(ngModel)]="deviceCommand.description"
      type="text"
      class="form-control "
      [placeholder]="'page.deviceForm.placeholder.description' | translate"
      maxlength="255"
    />

    <app-validation-error
      [control]="f.description"
      [controlName]="'description'"
      [translationKey]="'deviceForm'"
    ></app-validation-error>
  </div>
</div>


<div>
  <label for="firmware"
    >{{ "page.deviceForm.firmware" | translate }}</label
  >
  <div class="form-group">
    <input
      formControlName="firmware"
      [(ngModel)]="deviceCommand.firmware"
      type="text"
      class="form-control "
      [placeholder]="'page.deviceForm.placeholder.firmware' | translate"
      maxlength="45"
    />

    <app-validation-error
      [control]="f.firmware"
      [controlName]="'firmware'"
      [translationKey]="'deviceForm'"
    ></app-validation-error>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="float-right">
      <button
        (click)="cancle()"
        [disabled]="saving"
        class="btn btn-outline-secondary mr-4"
        type="button"
      >
        {{ "page.deviceForm.cancle" | translate }}
      </button>
      <button
        (click)="save()"
        [disabled]="!formGroup.valid || saving"
        class="btn btn-success"
        type="button"
      >
        {{ "page.deviceForm.save" | translate }}
      </button>
    </div>
  </div>
</div>


</form>
